* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.main{
    background-color: #5e41e4;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    color: white;
}
/* Search form */
.form{
    padding-top: 10px;
}
.form_input{
    padding: 8px 20px;
    width: 370px;
    border-radius: 15px;
}
.form_input::placeholder{
    text-align: center;
    font-size: 18px;
}

.form_btn {
    width: 120px;
    
    padding: 8px 12px;
    border-radius: 15px;
    background-color: #C27847;
    border-style:groove;
}

/* Results section*/
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.favourites{
    padding: 10px 30px;
}
.js-favourites_list{
    list-style: none;
    padding-top: 10px;
}
.favourite_item{
    padding-top: 15px;
}
.search_result{
    padding: 0 50px 0 50px;
}
.search_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
} 
.search_item{
    list-style: none;
    padding: 10px 10px;
    
}
.search_img{
    border-radius: 10px;
}

.reset{
    margin-top: 20px;;
    width: 120px;
    padding: 8px 12px;
    border-radius: 15px;
    background-color: #3333;
}

/* FAVORITES */
.js-favourite{
    background-color: black;
    color: white;
    
}
